* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background-color: #EEEEEE;
}

header {
    margin: 1px;
    background-color: red;
}

.bilde1 {
    margin: 0;
    width: auto;
    height: auto;
}

.bilde2 {
    margin: 0;
}

.bilde3 {
    margin: 0;
}

.bilde4 {
    margin: 0;
}

.bilde5 {
    margin: 0;
}

.bilde6 {
    margin: 0;
}