* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #ffbf80;
}

header {
    width: calc(100vw - 2rem);
    background-color: #ffdab3;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.supercontainer {
    width: calc(100vw - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
    display: grid;
    grid: 40vh 40vh / 1fr 1fr 1fr;
    gap: 1rem;
}


.innhold {
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.3);
    margin: 1.5%;
    justify-self: center;
    align-self: center;
    padding-bottom: 1rem;
}

.img {
    height: 75%;
    width: 100%;
    background-color: blue;
    object-fit: cover;
    /* overflow: hidden; */
}

.text {
    padding: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media only screen and (max-width: 970px) {
    .supercontainer {
        grid: 40vh 40vh 40vh / 1fr 1fr;
    }
}

@media only screen and (max-width: 650px) {
    .supercontainer {
        grid: repeat(6, 80vh) / 1fr;
        /* width: 100vw;
        margin-left: 0;
        margin-right: 0;
        gap: 1rem; */
    }

    .img {
        height: 85%;
    }

    p {
        font-size: large;
    }

    h1 {
        font-weight: 100;
        font-size: xx-large;
    }
}


img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text{
    background: rgba(0,0,0,0);
}

footer {
    width: calc(100vw - 2rem);
    background-color: #ffdab3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    padding: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}


a {
    text-align: center;
}


.reflection {
    background-color: #ffbf80;
}

.reflectiontext {
    padding: .5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    border: 2px solid #ffdab3;
}

